.sticky {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3in;
  margin: 2.5%;
  border-radius: 1em;
  box-shadow: 3em 3em 5em rgba(0, 0, 0, 0.25);

  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
}

.sticky::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border-radius: 1em;
  box-shadow: inset 3em 3em 5em rgba(255, 255, 255, 0.25);
}

.sticky-pink {
  background: #fdb9c9;
}

.sticky-peach {
  background: #ffdcbe;
}

.sticky-yellow {
  background: #f6f3b5;
}

.sticky-lime {
  background: #dcedc1;
}

.sticky-cyan {
  background: #bbf6f3;
}

.isBlurred:not(:hover):not(.isBusy) {
  filter: blur(5px);
  z-index: -1;
  pointer-events: none;
}

.sticky > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  outline: none;
  padding: 0.1em;
  overflow-wrap: normal;
  overflow: auto;
}

.sticky > p:focus {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
}

.sticky > ul {
  position: absolute;
  top: 5%;
  left: 10%;
  height: 90%;
  width: 85%;
  padding: 0.1em;
}

.sticky > ul > li:focus {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.2em;
  outline: none;
}

.placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.sticky > div {
  position: absolute;
  left: 95%;
  visibility: hidden;
  background-color: inherit;
  opacity: 0;
  border-radius: 0 1em 1em 0;
  box-shadow: inset 0 3em 1em rgba(255, 255, 255, 0.25);
}

.sticky:not(.isBusy):hover > div {
  visibility: visible;
  opacity: 1;
  transition: 0.5s opacity ease-in;
}

.sticky > div > svg {
  color: #b0b0b0;
  font-size: 60px;
}

.sticky > div > svg:hover {
  color: #536878;
  transition: 0.25s color ease-in;
}

.sticky > div > svg:active {
  color: black;
  transition: 0.1s color ease-out;
}

@media only screen and (max-width: 1028px) {
  .sticky {
    width: calc(1.875in);
  }

  .sticky > p {
    height: 87.5%;
    width: 87.5%;
  }

  .sticky > div > svg {
    font-size: 37.5px;
  }
}
