.sticky-pink {
  background: #fdb9c9;
}

.sticky-peach {
  background: #ffdcbe;
}

.sticky-yellow {
  background: #f6f3b5;
}

.sticky-lime {
  background: #dcedc1;
}

.sticky-cyan {
  background: #bbf6f3;
}

.placeholder {
  color: rgba(0, 0, 0, 0.5);
}
